<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>&lt;key&gt;clientSecret&lt;/key&gt;</key>
	<string>$(clientSecret)</string>
	<key>&lt;key&gt;clientId&lt;/key&gt;</key>
	<string>$(clientId)</string>
</dict>
</plist>
